img{
	display: inline-block;
}
.w-left-container{
	width: 850px;
	height: auto;
	overflow: hidden;
}

.w-education-title{
	font-size: 24px;
	letter-spacing: 2px;
	color: #000000;
}
.w-list-content{
	font-size: 14px;
	letter-spacing: 1px;
}
.w-list-content img{
	padding: 0 5px;
}
.w-list-content li{
	padding: 8px 0;
}
.w-list-content .w-l-item,.w-list-content-internet .w-l-item,.list-content-internet .w-l-item{ 
	width:48%;
	padding: 0 1%;
}
.alert-title{
	border-bottom: #ccc 2px solid;
	padding: 0 0 5px;
	margin: 0 0 5px;
}
.w-times{
	margin-right: 0;
	color: #585859;
}
.w-more input{
	width: 80px;
	height: 24px;
	background-color: #d5d5d5;
	margin-right: 36px;
	margin-top: 20px;
	margin-bottom: 12px;
	border: 0 none;
}
.w-input-box{
	font-size: 14px;
	margin-left: 50px;
	margin-top: 35px;
	
}
.w-input-box input{
	border: 1px solid #838283;
}
.w-search-school{
	border: 1px solid #ccc;
	height: 99px;
	margin: 0 0 20px;
}
#school-text{
	width: 270px;
	height: 30px;
	padding: 0 5px;
	font-size: 14px;
	color: #454545;
}
#w-btn-search{
	font-size: 14px;
	width: 140px;
	border: 0 none;
	height: 32px;
	margin-left: 16px;
	background-color: #123166;
	color: #FFFFFF;
}
#w-btn-search:hover{
	background: #ffa000;
}
.w-internet-box{
	margin-bottom: 20px;
}
.w-top{
	margin: 0 0 20px;
}
.w-internet-box h3,.w-top h3{
	margin: 0 0 15px;
}
.w-list-content-internet{
	font-size: 14px;
	margin: 15px 0 0 ;
}
.w-list-content-internet li{
	padding: 10px 0;
	border-bottom: #fff 1px dotted;
}

.w-list-content-internet li:hover{
	border-bottom: #ccc 1px dotted;
}

.w-list-content-internet li:hover .w-list-sort{
	background: #ffa000;
}

.w-list-content-internet img{
	margin-right: 10px;
}
.w-list-content-internet input{
	width: 80px;
	height: 24px;
	background-color: #d5d5d5;
	margin-right: 36px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 0 none;
}
.list-content-internet{
	font-size: 14px;
	margin: 15px 0 0;
}
.list-content-internet li{
	padding: 10px 0;
	border-bottom: #fff 1px dotted;
}
.list-content-internet li:hover{
	border-bottom: #ccc 1px dotted;
}
.list-content-internet li:hover .w-list-sort{
	background: #ffa000;
}
.list-content-internet img{
	margin-right: 10px;
}
.right-listbox{
	margin-left: 60px;
}
.w-right-container-title{
	margin-top: 8px;
	margin-left: 10px;
	font-size: 18px;
	color: #000000;
}
.w-rish-list {
	font-size: 14px;
	letter-spacing: 2px;
}
.w-rish-list img{
	margin: 0 10px;
}
.w-rish-list li{
	padding: 5px 0;
}
.w-rish-list-top{
	width: 260px;
	height: auto;
	margin-left: 20px;
	margin-bottom: 30px;
	border: 1px solid #838283;
}
.w-rish-pop{
	margin: 11px 0px 20px 20px;
}
.w-rish-pop img{
	width: 80px;
	height: 102px;
}
.pop-info{
	width: 140px;
	height: 102px;
	margin-top: 4px;
	margin-left: 11px;
}
.pop-info-name{
	font-size: 18px;
	color: #000000;
}
.pop-info input{
	width: 60px;
	height: 22px;
	background-color: #123166;
	margin-top: 6px;
	margin-bottom: 20px;
	color: #FFFFFF;
}
.w-suit-box{
	width: 848px;
	padding: 15px 0 0;
	border: 1px solid #ccc;
}
.w-suit-box{
	font-size: 14px;
	color: #000000;
	background-color: #f3f3f3;
}
.w-suit-box input.input-box{
	width: 680px;
	height: 30px;
	padding: 0 5px;
	margin-left: 20px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	font-weight: normal;
}
.w-suit-box textarea{
	padding: 5px;
	margin-left: 20px;
	width: 678px;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
}
.w-suit-box div{
	margin-bottom: 15px;

}
.w-suiter-name{
	margin-top: 20px;
}
.w-suiter-content input{
	width: 700px;
	height: 180px;
}
.suit-content{
	float:left;
	display: block;
	width: 100px;
	text-align: right;
	margin: 5px 0 0 ;
}
.suit-submit{
	width: 100px;
	padding: 5px 0;
	background-color: #123166;
	color: #FFFFFF;
	border:0 none;
}
.suit-submit:hover{
	background: #ffa000;
}
.tips{
	margin: 0 40px;
	text-align: right;
}
.tips p span{
	margin: 0 10px;
}
.tips .red{
	color: red;
}
.w-education-icons{
	display: inline-block;
	margin-bottom: 4px;
	margin-right: 8px;
	width: 4px;
	height: 4px;
	background: url(http://www.qianfandu.com/assets/case/danger.png) no-repeat;
}
.w-education-icons-blue{
	display: inline-block;
	margin-top: 8px;
	margin-right: 8px;
	width: 4px;
	height: 4px;
	background: url(http://www.qianfandu.com/assets/case/g_07.png) no-repeat;
}
.w-internet-logo-fenghuang{
	display: inline-block;
	width: 120px;
	height: 36px;
	background: url(http://www.qianfandu.com/assets/case/fenghuang.png) no-repeat;
}
.w-internet-logo-tengxun{
	display: inline-block;
	width: 130px;
	height: 36px;
	background: url(http://www.qianfandu.com/assets/case/tx.png) no-repeat;
}
.w-internet-logo-souhu{
	display: inline-block;
	width: 100px;
	height: 36px;
	background: url(http://www.qianfandu.com/assets/case/souhu.png) no-repeat;
}
.w-internet-logo-sina{
	display: inline-block;
	width: 120px;
	height: 36px;
	background: url(http://www.qianfandu.com/assets/case/sina.png) no-repeat;
}
.w-internet-logo-wy{
	display: inline-block;
	width: 130px;
	height: 36px;
	background: url(http://www.qianfandu.com/assets/case/wy.png) no-repeat;
}
.w-internet-name{
	font-size: 18px;
	color: #000000;
}
.w-list-sort{
	font-size: 12px;
	padding: 0 2px;
	color: #FFFFFF;
	text-align: center;
	display: inline-block;
	width: 14px;
	height: 16px;
	margin-right: 4px;
	background-color: #123166;
}

.alert-more{
	display: inline-block;
	margin: 11px 5px 0 0;
	color: #777777;
	font-size: 14px;
	font-style: normal;
}

.complaint h3{
	margin: 0 0 20px 0;
}