
/* line 22, ../sass/base/_reset.scss */
.cd-guides .center {
  margin: 0 auto;
}

/* line 23, ../sass/base/_reset.scss */
.cd-guides .tl {
  text-align: left;
}

/* line 24, ../sass/base/_reset.scss */
.cd-guides .tc {
  text-align: center;
}

/* line 25, ../sass/base/_reset.scss */
.cd-guides .tr {
  text-align: right;
}

/* line 26, ../sass/base/_reset.scss */
.cd-guides .pr {
  position: relative;
}

/* line 27, ../sass/base/_reset.scss */
.cd-guides .pa {
  position: absolute;
}

/* line 30, ../sass/base/_reset.scss */
.cd-guides .fw {
  color: #fff;
}

/* line 32, ../sass/base/_reset.scss */
.cd-guides .inline {
  display: inline-block;
}

/* line 34, ../sass/base/_reset.scss */
.cd-guides .hide {
  display: none;
}

/* line 36, ../sass/base/_reset.scss */
.cd-guides .f18 {
  font-size: 18px;
}

/* line 37, ../sass/base/_reset.scss */
.cd-guides .f16 {
  font-size: 16px;
}

/* line 38, ../sass/base/_reset.scss */
.cd-guides .f14 {
  font-size: 14px;
}

/* line 1, ../sass/common/_atom.scss */
.cd-guides .bgd-b {
  background-color: #123166;
}

/* line 2, ../sass/common/_atom.scss */
.cd-guides .border3b {
  border-bottom: 3px solid #123166;
}

/* line 3, ../sass/common/_atom.scss */
.cd-guides .border2g {
  border: 2px solid #838283;
}

/* line 4, ../sass/common/_atom.scss */
.cd-guides .border1g {
  border: 1px solid #838283;
}

/* line 5, ../sass/common/_atom.scss */
.cd-guides .mb20 {
  margin-bottom: 20px;
}

/* line 6, ../sass/common/_atom.scss */
.cd-guides .pd14 {
  padding: 14px;
}

/* line 7, ../sass/common/_atom.scss */
.cd-guides .mg14 {
  margin: 14px;
}

/* line 8, ../sass/common/_atom.scss */
.cd-guides .ml20 {
  margin-left: 20px;
}

/* line 9, ../sass/common/_atom.scss */
.cd-guides .mr20 {
  margin-right: 20px;
}

/* line 10, ../sass/common/_atom.scss */
.cd-guides .lh {
  line-height: 28px;
}

/* line 1, ../sass/page/_tip.scss */
.cd-guides h1 {
  font-size: 24px;
  height: 48px;
  padding-right: 32px;
  line-height: 48px;
}

/* line 7, ../sass/page/_tip.scss */
.cd-guides .t-box {
  width: 1200px;
  box-sizing: border-box;
  z-index: 1;
}
/* line 13, ../sass/page/_tip.scss */
.cd-guides .t-box .t-title {
  position: absolute;
  z-index: 2;
}
/* line 20, ../sass/page/_tip.scss */
.cd-guides .t-box img {
  display: inline-block;
  vertical-align: middle;
  padding-left: 128px;
}

/* line 26, ../sass/page/_tip.scss */
.cd-guides .news-top {
  height: 60px;
  color: #fff;
  line-height: 60px;
}
/* line 30, ../sass/page/_tip.scss */
.cd-guides .news-top .new-time {
  text-align: center;
  float: left;
  width: 33.3%;
}
/* line 34, ../sass/page/_tip.scss */
.cd-guides .news-top .new-time:after {
  content: '';
  width: 1px;
  height: 40px;
  background: #fff;
  display: inline-block;
  margin-top: 10px;
  line-height: 64px;
  float: right;
}
/* line 44, ../sass/page/_tip.scss */
.cd-guides .news-top .new-time:last-child:after {
  width: 0;
  content: '';
  height: 0;
}
/* line 46, ../sass/page/_tip.scss */
.cd-guides .news-top a {
  display: inline-block;
  color: #fff;
}
/* line 49, ../sass/page/_tip.scss */
.cd-guides .news-top a:first-child {
  padding-left: 52px;
}
/* line 50, ../sass/page/_tip.scss */
.cd-guides .news-top a:last-child {
  padding-right: 52px;
}

/* line 53, ../sass/page/_tip.scss */
.cd-guides .new-content {
  background-color: #f6f5f5;
}
/* line 55, ../sass/page/_tip.scss */
.cd-guides .new-content .n-item {
  width: 30.9%;
}
/* line 57, ../sass/page/_tip.scss */
.cd-guides .new-content .n-item li {
  line-height: 28px;
}
/* line 59, ../sass/page/_tip.scss */
.cd-guides .new-content span {
  display: inline-block;
  font-size: 12px;
  width: 8px;
  height: 8px;
  color: #fff;
  text-align: center;
  line-height: 12px;
  margin-right: 8px;
}

/* line 71, ../sass/page/_tip.scss */
.cd-guides .stepLine {
  border-left: 2px solid #000;
}

/* line 74, ../sass/page/_tip.scss */
.cd-guides .t-idot {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: -7px;
  top: 23px;
  background: #fff;
}

/* line 83, ../sass/page/_tip.scss */
.cd-guides .t-arow {
  background: url(http://www.qianfandu.com/assets/case/arow.png) no-repeat;
  width: 23px;
  height: 14px;
  left: 8px;
  top: 22px;
}

/* line 90, ../sass/page/_tip.scss */
.cd-guides .t-content {
  margin-left: 50px;
}
/* line 92, ../sass/page/_tip.scss */
.cd-guides .t-content .setpTitle {
  height: 46px;
}
/* line 95, ../sass/page/_tip.scss */
.cd-guides .stepBox {
  padding: 0 14px;
  background: #123166;
  width: 140px;
  color: #fff;
  text-align: center;
}
/* line 103, ../sass/page/_tip.scss */
.cd-guides .stepNbr {
  margin: 0px 8px;
  background: #fff;
  color: #123166;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  line-height: 36px;
  font-weight: 900;

}

/* line 113, ../sass/page/_tip.scss */
.cd-guides .t-content .setpTitle span {
  font-size: 24px;
  text-align: center;
}
/* line 118, ../sass/page/_tip.scss */
.cd-guides .t-content .add {
  height: 46px;
  border-bottom: 2px solid #ccc;
  min-width: 20px;
  vertical-align: middle;
}
/* line 123, ../sass/page/_tip.scss */
.cd-guides .t-content .add img {
  float: left;
  margin-top: 10px;
}
/* line 126, ../sass/page/_tip.scss */
.cd-guides .t-content .stepDetail {
  margin-top: 20px;
  padding: 14px;
  overflow: hidden;
}
/* line 133, ../sass/page/_tip.scss */
.cd-guides .t-content .d-item .d-contry {
  cursor: default;
  width: 190px;
  height: 170px;
  display: block;
  overflow: hidden;
}
.cd-guides .t-content .d-item .d-contry img{
              -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;   
}
.cd-guides .t-content .d-item .d-contry img:hover{
            -webkit-transform: scale(1.2) rotate(-3deg);
            -moz-transform: scale(1.2) rotate(-3deg);
            -o-transform: scale(1.2) rotate(-3deg);
            -ms-transform: scale(1.2) rotate(-3deg);
            transform: scale(1.2) rotate(-3deg);  
}
/* line 138, ../sass/page/_tip.scss */
.cd-guides .t-content .d-item span {
  display: inline-block;
  width: 100%;
  line-height: 28px;
  background-color:#123166;
  color: #fff;
  opacity: .8;
  left: 0;
  bottom: 0;
}
/* line 148, ../sass/page/_tip.scss */
.cd-guides .t-content .d-item ul {
  margin-left: 14px;
  color: #123166;
}
/* line 149, ../sass/page/_tip.scss */
.cd-guides .t-content .d-item li {
  list-style: square;
  line-height: 28px;
  font-size: 14px;
}
/* line 155, ../sass/page/_tip.scss */
.cd-guides .t-content .d-advisor {
  width: 234px;
}
/* line 157, ../sass/page/_tip.scss */
.cd-guides .t-content .d-advisor .portrait {
  border-bottom: 1px solid #838283;
  padding-bottom: 14px;
}
/* line 160, ../sass/page/_tip.scss */
.cd-guides .t-content .d-advisor .portrait img {
  float: left;
  display: block;
  width: 70px;
  height: 70px;
}
.cd-guides .t-content .d-advisor .portrait .p-info{
  float: left;
  width: 164px;
}
/* line 161, ../sass/page/_tip.scss */
.cd-guides .t-content .d-advisor .portrait p, .cd-guides .t-content .d-advisor .portrait span {
  padding-left: 14px;
}
/* line 162, ../sass/page/_tip.scss */
.cd-guides .t-content .d-advisor .portrait p {
  color: #123166;
  margin: 10px 0;
}

.cd-guides .t-content .d-advisor .portrait p a{
  padding:5px 10px;
  color: #fff;
  background: #123166;
}
.cd-guides .t-content .d-advisor .portrait p a:hover{
  background: #ffa000;
}

/* line 164, ../sass/page/_tip.scss */
.cd-guides .t-content .d-advisor .advisorDetail {
  padding-top: 14px;
}
/* line 165, ../sass/page/_tip.scss */
.cd-guides .t-content .d-advisor em {
  font-style: normal;
  font-weight: 900;
}

/* line 168, ../sass/page/_tip.scss */
.cd-guides .topBlock {
  width: 10px;
  background: #fff;
  left: -2px;
  height: 23px;
}

/* line 174, ../sass/page/_tip.scss */
.cd-guides .bottomBlock {
  width: 10px;
  background: #fff;
  left: -2px;
  /*height: 320px;*/
  height: 317px;
  bottom: 0;
}
.cd-guides .border-bottom{
  border-bottom: 2px solid #dddddd;
}
.cd-guides .border-bottom span{
  display: inline-block;
  padding: 0 15px;
  margin-bottom: -2px;
  border-bottom: 3px solid #123166;
}
.cd-guides .border-bottom em{
  display: inline-block;
  width: 650px;
  height: 32px;
  margin-top: 10px;
  background-image: url(asset_path("cd-intro-text.png"));
  background-repeat: no-repeat;

}
.cd-guides .border-bottom em.step-bg-1{
  background-position: 0 -26px;
}
.cd-guides .border-bottom em.step-bg-2{
  background-position: 0 -55px;
}
.cd-guides .border-bottom em.step-bg-3{
  background-position: 0 -85px;
}
.cd-guides .border-bottom em.step-bg-4{
  background-position: 0 -115px;
}
.cd-guides .border-bottom em.step-bg-5{
  background-position: 0 -146px;
}
.cd-guides .border-bottom em.step-bg-6{
  background-position: 0 -176px;
}
.cd-guides .border-bottom em.step-bg-7{
  background-position: 0 -205px;
}
.cd-guides .border-bottom em.step-bg-8{
  background-position: 0 -234px;
}
.cd-guides .border-bottom em.step-bg-9{
  background-position: 0 -266px;
}
.cd-guides .border-bottom em.step-bg-first{
  background-position: 0 4px;
}