.news-container{
	.sec{
		&.cd-news{
			margin:15px 0 0;
		}
	}	
}


.ad-2{
	width: 317px;
}

.hot-news-update{border:#838383 1px solid;padding:10px;font-size:16px;text-align:center;color:#123167;font-weight:bold;
	p{margin:0;
		span{color:#ed8001;}
	}
}
.news-sec-list{margin:30px 0 0 0;
	.ns-item{
		border:#ccc 1px solid;
		width:384px;
		height:284px;
		float:left;
		margin:0 20px 0 0;
		.calendar-control{
			background:#123166;
			margin:10px 0;
			em{
				display:block;
				width:40px;
				text-align:center;
				color:#fff;
				cursor:pointer;
				margin:10px 0 0;
				&.c-left{
					float:left
				}
				&.c-right{
					float:right;
				}
			}
			p{
				float:left;
				color:#fff;
				margin:0 5px;
				border-left: 1px solid;
				border-right: 1px solid;
				span{
					float:left;
					display:block;
					width:80px;
					text-align:center;
					padding:0 8px;
					cursor:pointer;
					border-right:#fff 1px solid;
				}
				:last-child{
					border: 0;
				}
			}
		}
		&.no-mg{
			margin:0;
			li{
				padding:5px 0 4px;
			}
		}
		h4{
			span{
				padding:5px 10px;
			}
			em{
				color:#000;
				margin:12px 5px 0 0;
			}
		}
		ul{
			padding:10px;
		}
		li{
			padding:5px 0;
			span{
				color:#fff;
				background:#123166;
				padding:0 3px;
				margin:0 5px;
				&.redbg{
					background:red;
				}
			}
			em{
				font-size:14px;
				color:#f48632;
				margin: 0 2px;
			}
			a{
				&.redbg{
					color:#fff;
					background:red;
					font-weight: bold;
					font-size: 14px;
					margin: 0 2px;
					padding: 0 5px;
				}
			}

		}
	}
}


.container .sider-2{
	width:317px;
	background:#f7f7f7;
	.tabcon {
		height: 355px;
		border: 1px solid #dddddd;
		background: white;
	}
	.sublist{
		ul{
			li{
				float: none;
				padding: 7px;
				font-size: 14px;
				span{
					display: inline-block;
					background: #777777;
					color: white;
					padding: 1px 4px 2px;
					line-height: 1;
					margin-right: 5px;
					font-weight: 500;
				}
			}
		}
	}

		.calendar-control{
			background:#123166;
			margin:10px 0;
			width: 317px;

			p{
				float:left;
				color:#fff;
				margin: 0;
				span{
					float:left;
					display:block;
					text-align:center;
					cursor:pointer;
					width: 87px;
					&.c-c-date{
						border-left:#fff 1px solid;
						border-right:#fff 1px solid;
						width: 100px;
						padding: 0 20px;
					}
					&.c-l-date{
						margin: 10px 0 0;
					}
					&.c-r-date{
						margin: 10px 0 0;
					}
				}
			}
		}
}

.cd-news-sidebar{
	width: 317px;
	margin: 0 25px 0 0;
	.editor-recommendation{
		li{
			margin: 15px 0 0;
			padding: 0 15px;
			border-bottom: #ccc 1px solid;
			p{
				margin: 0 0 5px;
			}
			a{
				&.r-photo{
				margin: 0 0 10px;
				width: 257px;
				height: 137px;
				display:block;
				overflow: hidden;
				img{
					  width: 257px;
					  height: 137px;					  
					  -webkit-transition: all 0.4s ease-in-out;
					  -moz-transition: all 0.4s ease-in-out;
					  -o-transition: all 0.4s ease-in-out;
					  transition: all 0.4s ease-in-out;					
				}
				img:hover{
					  -webkit-transform: scale(1.2) rotate(-3deg);
					  -moz-transform: scale(1.2) rotate(-3deg);
					  -o-transform: scale(1.2) rotate(-3deg);
					  -ms-transform: scale(1.2) rotate(-3deg);
					  transform: scale(1.2) rotate(-3deg);					
				}
			}				
			}
		}
	}
}

.news-container{
	.cd-news-content {
		width: 535px;
		position: relative;
	}
}



.cd-relatively-news{
	h4{
		margin-bottom: 15px;
	}
	.c-r-nex-box{
		width: 570px;
		min-height: 290px;
		border: #ccc 1px solid;
		padding: 10px;
		overflow: hidden;
		ul{
			width: 600px;
		}
		li{
			float: left;
			width: 272px;
			margin:0 26px 0 0;
		}
		a{
			font-size: 14px;
			margin: 5px 0 0;

			&.r-photo{
				margin: 0 0 10px;
				width: 272px;
				height: 177px;
				display:block;
				overflow: hidden;
				img{
					  width: 272px;
					  height: 177px;					  
					  -webkit-transition: all 0.4s ease-in-out;
					  -moz-transition: all 0.4s ease-in-out;
					  -o-transition: all 0.4s ease-in-out;
					  transition: all 0.4s ease-in-out;					
				}
				img:hover{
					  -webkit-transform: scale(1.2) rotate(-3deg);
					  -moz-transform: scale(1.2) rotate(-3deg);
					  -o-transform: scale(1.2) rotate(-3deg);
					  -ms-transform: scale(1.2) rotate(-3deg);
					  transform: scale(1.2) rotate(-3deg);					
				}
			}

		}

	}
}

.cd-news-warpper{
	border:#ccc 1px solid;
	height: 222px;
	overflow: hidden;
}

.cd-news-study-calender{
	border-right: #ccc 1px solid;
	width: 298px;
	height: 222px;
	h4{
		span{
			padding: 2px 5px;
		}
		&.border-bottom{
			em{
				font-size: 14px;
				margin:5px 0 0 ;
				padding: 2px 5px;
			}
		}
	}
	.calendar-control{
		background:#123166;
		margin:5px 0;
		em{
			display:block;
			width:30px;
			text-align:center;
			color:#fff;
			cursor:pointer;
			margin:10px 0 0;
			&.c-left{
				float:left
			}
			&.c-right{
				float:right;
			}
		}
		p{
			float:left;
			color:#fff;
			margin:0 5px;
			span{
				float:left;
				display:block;
				width:75px;
				text-align:center;
				padding:0;
				cursor:pointer;
				border-right:#fff 1px solid;
			}
		}
	}

	ul{
		padding:0 10px 10px;
	}
	li{
		padding:5px 0;
		span{
			color:#fff;
			background:#123166;
			padding:0 3px;
			margin:0 5px;
			&.redbg{
				background:red;
			}
		}
		em{
			font-size:16px;
			color:#f48632;
		}
		a{
			&.redbg{
				color:#fff;
				background:red;
			}
		}

	}

}
.cd-news-stuty-banner{
	width: 714px;
	border-right: #ccc 1px solid;
}
.cd-news-stuty-statistics{
	width: 184px;
	p{
		border-bottom: #133167 1px solid;
		margin:5px 10px;
		padding: 5px;
		font-size: 14px;
		span{
			color: #f67402;
			font-size: 16px;
		}
	}

}


.cd-relative-news-page{
    width:670px;
    overflow:hidden;
    margin: 0 auto;
    h3{
    	margin: 0 0 15px;
    }
    ul{
        width:860px;
    }
    li{
        float:left;
        width:212px;
        margin:0 10px 10px 0;
        border:#fff 2px solid;
        background:#f7f7f7;
        h4{
            font-size:14px;
            padding:0 5px;
        }
        .r-photo{
            width:212px;
            height:165px;
            overflow:hidden;
            display:block;
            margin:0 0 10px;
        }
        img{
        width:212px;
        height:165px;
        -webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;

        }
        img:hover{
        -webkit-transform:scale(1.2) rotate(-3deg);-moz-transform:scale(1.2) rotate(-3deg);-o-transform:scale(1.2) rotate(-3deg);-ms-transform:scale(1.2) rotate(-3deg);transform:scale(1.2) rotate(-3deg)
        }
        p{
            padding:0 5px;
            color:#999;
        }
       }
    li:hover{
        border:#ccc 2px solid; 
        background:#eee;
    }
}
