
.tutor-container .border-bottom{
	text-align: left;
	margin: 0 0 15px;
	span{
		padding: 0;
	}
}


.tutor-content .sec{
	margin: 30px 0 0;
}

.cd-tutor-content{
	width: 850px;
}

.cd-tutor-sidebar{
	width: 330px;

}





/* line 22, ../sass/page/_plan.scss */
.cd-recommend{  width: 330px;
	.rcderList{
		  padding: 15px;
		  background-color: #f3f4f4;
		  margin: 0 0 12px;	
		  height: 294px;
		  li{
		  	margin: 0 0 15px;
		  	padding: 0 0 15px;
		  	border-bottom: #ccc 1px dotted;
		  }
		  li:last-child{
		  	border-bottom: 0 none;
		  	padding: 0;
		  }
	  	.rcdDetail{
	  		p{
	  			margin: 0 0 3px;
	  			&.f18{
	  				font-size: 18px;
	  			}
	  			&.gray{
					color:#999;
				}
	  		}
	  	}
		a{
		  display: inline-block;
		  width: 88px;
		  height: 26px;
		  background-color: #123166;
		  line-height: 26px;
		  text-align: center;
		  color: #fff;
		  -moz-transition: background-color, 0.3s, linear;
		  -o-transition: background-color, 0.3s, linear;
		  -webkit-transition: background-color, 0.3s, linear;
		  transition: background-color, 0.3s, linear;			
		}
  		a:hover{
 			background-color: #fd9a48;
  		}
		img{
	  		float: left;
  			margin-right: 14px;			
  			width: 90px;
  			height: 90px;
		}
		p{
		  	font-size: 12px;
		  	margin-bottom:0; 
		}
		p:last-child{
			margin-top: 5px;

		}		  				
	}
}





/* line 40, ../sass/page/_plan.scss */
.cd-success-case {
    width: 425px;
    overflow: hidden;
      .item-list {
  	  	  width: 445px;
  	  	  a{
  	  	  	display: block;
  	  	  	width: 100px;
  	  	  	height: 100px;
  	  	  	float: left;
 	  		margin: 0 8px 8px 0;
 	  		position: relative;
 	  		overflow: hidden;
 	  		img{
 	  			width: 100px;
 	  			height: 100px;
 	  		}
  	  	  }
        }
  	    .itemBox {
  		    margin-top: 12px;
			a{

			    span{
			    	position: absolute;
  	  	  			width: 100px;
  	  	  			padding: 0 15px 0 14px;
			    	height: 100px;
			    	background: #123166;
			    	opacity: .8;
			    	bottom: -100px;
			    	left: 0;
			    	-webkit-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out;
					transition: all 0.4s ease-in-out;
			    }				
			}

	}
	.itemBox{
			a:hover{
				span{
						bottom: 0;
						color:#fff;
					}				
			}
	}
}
.recent-apply{
	width: 750px;

		.r-a-bg{
			background: #f3f3f3;
			border: 1px solid #dddddd;
			padding: 27px 15px;
			h4{
				border-bottom: 2px solid #dddddd;
				margin-bottom: 10px;
				padding: 0 0 10px;
			span{
				display: block;
				float: left;
				width: 16.6666%;
				padding-left: 2%;
				box-sizing: border-box;
				text-align: center;				
			}
		}

		.recent-apply-warp{
			li{@extend .clearfix;
				border-bottom: 1px dotted #dddddd;
				padding: 11px 0;
				span{
					display: block;
					float: left;
					width: 16.6666%;
					padding-left: 2%;
					box-sizing: border-box;
					text-align: center;
				}

			}
			li:hover{
				background: #fff;
			}
		}		
	}


	table{
		width: 100%;
		background: #f3f4f4;

		tr{
			border-left: #ccc 1px solid;
			border-right: #ccc 1px solid;

		}
		tr:hover{
			background: #fff;
			&.r-a-header{
				background: #f3f4f4;
			}
		}		
		td{
			border-bottom: #ccc 1px solid;
			text-align: center;
			font-size: 12px;
			padding: 6px 0 5px;
		}
		th{
			border-bottom:#ccc 2px solid;
			border-top:#ccc 1px solid;
			text-align: center;
			color: #666;
			font-size: 14px;
			padding: 10px 0;
		}
	}
}

.cd-sublist{
	  float: left;
	  width: 850px;
	  min-height: 348px;
	  background: white;

	ul{
		width:100%;
		li{
		  float: left;
		  width: 48%;
		  height: 85px;
		  margin-left: 2%;
		  display: block;
		  padding: 13px 0 10px 0;
		  border-bottom: 1px dotted #dddddd;
			.photo {
			   float: left;
			   width: 100px;
			   height: 80px;
			   overflow: hidden;
			   background: #f3f3f3;
			   margin: 0 15px 0 0 ;
			   a{
				  float: left;
				  display: block;
				  img{
					  height: 80px;
					  min-width: 100px;
					  -webkit-transition: all 0.4s ease-in-out;
					  -moz-transition: all 0.4s ease-in-out;
					  -o-transition: all 0.4s ease-in-out;
					  transition: all 0.4s ease-in-out;	
				  }		   	
				  img:hover{
					  -webkit-transform: scale(1.2) rotate(-3deg);
					  -moz-transform: scale(1.2) rotate(-3deg);
					  -o-transform: scale(1.2) rotate(-3deg);
					  -ms-transform: scale(1.2) rotate(-3deg);
					  transform: scale(1.2) rotate(-3deg);				  	
				  }
			   }
			}
		p{
			padding: 10px 0 0;			
		}
		footer{
			text-align: right;
		}
		li:hover{
			background: #fbfbfb;
		}
		}
	}
}


.btn{
	&.small-btn{
		width: auto;
		display: block;		
		padding: .2em .5em;
	}
}

