<div class="flexslider">
	<ul class="slides">
		<li><%= link_to image_tag('test/banner-4.jpg'), 'http://www.hkbea.com.cn/include/lxtsq.shtml?bookType=11&proName=留学通', target:'_blank' %></li>
		<li><%= link_to image_tag('test/banner-1.jpg'), cd_tutors_path, target:'_blank' %></li>
		<li><%= link_to image_tag('test/banner-2.jpg'), cd_tutors_path, target:'_blank' %></li>
		<li><%= link_to image_tag('test/banner-3.jpg'), cd_news_index_path, target:'_blank' %></li>
	</ul>
</div>