- name = @model.human_attribute_name(field)
= label_tag "where[#{field}][]", name
- inputs = [(params[:where]||{})[field]].flatten
= text_field_tag "where[#{field}][]", inputs.size == 1 ? inputs.first : nil
= shared 'select', select if select ||= nil
= link_to inputs.size > 1 ? inputs.size : '...', '#', class: 'search_array_select', data: { field: field, name: name }
span
	- inputs.size > 1 && inputs.each do |input|
		= hidden_field_tag "where[#{field}][]", input
| &nbsp;
