<span>
= label_tag "where[#{field}][>]", model.human_attribute_name(field)
= text_field_tag "where[#{field}][>]", params[:where].try(:[], field).to_h.try(:[], :>), :class => "#{'hasDatepicker' if field.to_s.match(/_at$|_on$/)}"
= label_tag "where[#{field}][<]", '~'
= text_field_tag "where[#{field}][<]", params[:where].try(:[], field).to_h.try(:[], :>), :class => "#{'hasDatepicker' if field.to_s.match(/_at$|_on$/)}"
</span>
