- if (record ||= nil)
	- name = name.call(record) if name.respond_to?(:call)
	- name ||= record.send(%w[name title id].find { |field| record.respond_to?(field) && record.send(field).present? })
	= link_to_if can?(:show, record), name, [:manage, record], rel: 'facebox'
