= link_to t(:show), [:manage, record], class: 'btn btn-xs btn-default'
= link_to t(:copy), new_manage_office_human_company_path(id: record.id), class: 'btn btn-xs btn-default' if can?(:create, record)
= link_to t(:edit), [:edit, :manage, record], class: 'btn btn-xs btn-default' if can?(:update, record)
= link_to t(:destroy), [ :manage, record ], method: :delete, data: {confirm: t(:confirm)}, class: 'btn btn-xs btn-default' if can?(:destroy, record)
